---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from "astro:content";

const currentPage: number | null = +Astro.url.searchParams.get('page')! || 1;

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .sort((a:CollectionEntry<'blog'>, b:CollectionEntry<'blog'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

---

<Layout title="Positivus - Blog">
	<main class="space-y-20">
		<Container>
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                    <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900">Our Blog</h2>
                    <p class="font-light text-gray-500 sm:text-xl">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>
                </div>
                <div class="grid gap-8 lg:grid-cols-2">
                    {allBlogArticles.map(article => (
                        <ArticleCard article={article} />
                    ))}
                </div>  
            </div>
        </Container>
	</main>
</Layout>