@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-outline {
    -webkit-text-stroke: 2.5px black;
    background-color: transparent;
  }
  .font-outline-sm {
    -webkit-text-stroke: 1.2px black;
    background-color: transparent;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

