---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Contact Us"
      description="Connect with Us: Let's Discuss Your Digital Marketing Needs"
    />
    <Form />
  </div>
</Section>
