<div class="w-[1440px] h-[8356px] relative bg-white">
    <div class="w-[1440px] px-[100px] left-0 top-[971px] absolute justify-start items-start gap-10 inline-flex">
        <div class="flex-col justify-start items-start inline-flex">
            <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                <div class="text-black text-[40px] font-medium font-['Space Grotesk']">Services</div>
            </div>
        </div>
        <div class="w-[580px] text-black text-lg font-normal font-['Space Grotesk']">At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:</div>
    </div>
    <div class="w-[1440px] px-[100px] left-0 top-[2746px] absolute justify-start items-start gap-10 inline-flex">
        <div class="flex-col justify-start items-start inline-flex">
            <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                <div class="text-black text-[40px] font-medium font-['Space Grotesk']">Case Studies</div>
            </div>
        </div>
        <div class="w-[580px] text-black text-lg font-normal font-['Space Grotesk']">Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies</div>
    </div>
    <div class="w-[1440px] px-[100px] left-0 top-[3343px] absolute justify-start items-start gap-10 inline-flex">
        <div class="flex-col justify-start items-start inline-flex">
            <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                <div class="text-black text-[40px] font-medium font-['Space Grotesk']">Our Working Process </div>
            </div>
        </div>
        <div class="w-[292px] text-black text-lg font-normal font-['Space Grotesk']">Step-by-Step Guide to Achieving Your Business Goals</div>
    </div>
    <div class="w-[1440px] px-[100px] left-0 top-[4838px] absolute justify-start items-start gap-10 inline-flex">
        <div class="flex-col justify-start items-start inline-flex">
            <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                <div class="text-black text-[40px] font-medium font-['Space Grotesk']">Team</div>
            </div>
        </div>
        <div class="w-[473px] text-black text-lg font-normal font-['Space Grotesk']">Meet the skilled and experienced team behind our successful digital marketing strategies</div>
    </div>
    <div class="w-[1440px] px-[100px] left-0 top-[5902px] absolute justify-start items-start gap-10 inline-flex">
        <div class="flex-col justify-start items-start inline-flex">
            <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                <div class="text-black text-[40px] font-medium font-['Space Grotesk']">Testimonials</div>
            </div>
        </div>
        <div class="w-[473px] text-black text-lg font-normal font-['Space Grotesk']">Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services</div>
    </div>
    <div class="w-[1440px] px-[100px] left-0 top-[6798px] absolute justify-start items-start gap-10 inline-flex">
        <div class="flex-col justify-start items-start inline-flex">
            <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                <div class="text-black text-[40px] font-medium font-['Space Grotesk']">Contact Us</div>
            </div>
        </div>
        <div class="w-[323px] text-black text-lg font-normal font-['Space Grotesk']">Connect with Us: Let's Discuss Your Digital Marketing Needs</div>
    </div>
    <div class="h-[771px] left-0 top-[60px] absolute flex-col justify-start items-start gap-[70px] inline-flex">
        <div class="w-[1440px] px-[100px] justify-between items-center inline-flex">
            <div class="py-2.5 justify-start items-start gap-2.5 flex">
                <div class="w-[219.54px] h-9 justify-center items-center gap-[12.92px] flex">
                    <div class="w-9 h-9 relative flex-col justify-start items-start flex"></div>
                </div>
            </div>
            <div class="justify-center items-center gap-10 flex">
                <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">About us</div>
                <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Services</div>
                <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Use Cases</div>
                <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Pricing</div>
                <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Blog</div>
                <div class="px-[35px] py-5 rounded-[14px] border border-zinc-900 justify-start items-start gap-2.5 flex">
                    <div class="text-center text-black text-xl font-normal font-['Space Grotesk'] leading-7">Request a quote</div>
                </div>
            </div>
        </div>
        <div class="w-[1440px] px-[100px] justify-between items-start inline-flex">
            <div class="flex-col justify-start items-start gap-[35px] inline-flex">
                <div class="w-[531px] text-black text-6xl font-medium font-['Space Grotesk']">Navigating the digital landscape for success</div>
                <div class="w-[498px] text-black text-xl font-normal font-['Space Grotesk'] leading-7">Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</div>
                <div class="px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-start items-start gap-2.5 inline-flex">
                    <div class="text-center text-white text-xl font-normal font-['Space Grotesk'] leading-7">Book a consultation</div>
                </div>
            </div>
            <div class="w-[600.46px] h-[515px] relative">
                <div class="w-9 h-9 left-[293px] top-[427px] absolute"></div>
                <div class="w-[70.33px] h-[70.33px] left-[107.73px] top-[313px] absolute origin-top-left rotate-45"></div>
                <div class="w-[566.26px] h-[118.95px] left-[97.91px] top-[64px] absolute origin-top-left rotate-[28.88deg] rounded-full border border-black"></div>
                <div class="w-[566.26px] h-[118.95px] left-[77.68px] top-[100.67px] absolute origin-top-left rotate-[28.88deg] rounded-full border border-black"></div>
                <div class="w-[566.26px] h-[118.95px] left-[57.45px] top-[137.35px] absolute origin-top-left rotate-[28.88deg] rounded-full border border-black"></div>
                <div class="w-[31px] h-[31px] left-[116px] top-[89px] absolute bg-lime-300 rounded-full"></div>
                <div class="w-5 h-5 left-[411px] top-[425px] absolute bg-lime-300 rounded-full"></div>
                <div class="w-[47px] h-[47px] left-[58px] top-[41px] absolute bg-black rounded-full"></div>
                <div class="w-[446.46px] h-[385px] left-[154px] top-0 absolute">
                    <div class="w-[340.58px] h-[367.59px] left-0 top-[17.41px] absolute">
                        <div class="w-[64.42px] h-[133.86px] left-[96.05px] top-[233.73px] absolute">
                        </div>
                        <div class="w-[214.23px] h-[278.05px] left-[126.35px] top-0 absolute">
                        </div>
                        <div class="w-[49.60px] h-[64.36px] left-[194.25px] top-[114.33px] absolute">
                        </div>
                        <div class="w-[164.32px] h-[219.06px] left-[111.62px] top-[37.13px] absolute">
                        </div>
                        <div class="w-[41.71px] h-[57.96px] left-[-0px] top-[217.02px] absolute">
                        </div>
                        <div class="w-[71.94px] h-[87.22px] left-[10.46px] top-[187.73px] absolute">
                        </div>
                        <div class="w-[56.86px] h-[72.93px] left-[176.78px] top-[119.29px] absolute">
                        </div>
                    </div>
                    <div class="w-[191.58px] h-[316.32px] left-[254.88px] top-0 absolute">
                        <div class="w-[98.72px] h-[98.62px] left-0 top-0 absolute">
                        </div>
                        <div class="w-[94.91px] h-[94.95px] left-[96.67px] top-[12.38px] absolute">
                            <div class="w-[94.91px] h-[94.95px] left-0 top-0 absolute">
                            </div>
                        </div>
                        <div class="w-[94.05px] h-[93.99px] left-[87.42px] top-[115.32px] absolute">
                        </div>
                        <div class="w-[101.97px] h-[101.79px] left-[66.51px] top-[214.52px] absolute">
                            <div class="w-[101.97px] h-[101.79px] left-0 top-0 absolute">
                            </div>
                            <div class="w-[39.18px] h-[57.79px] left-[31.28px] top-[24.31px] absolute">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-[1440px] px-[100px] justify-between items-start inline-flex">
            <div class="w-[124.11px] h-12 relative mix-blend-luminosity"></div>
            <div class="w-[126.37px] h-12 relative mix-blend-luminosity"></div>
            <div class="w-[128.63px] h-12 relative mix-blend-luminosity"></div>
            <div class="w-[145.55px] h-12 relative mix-blend-luminosity"></div>
            <div class="w-[125.24px] h-12 relative mix-blend-luminosity"></div>
            <div class="w-[110.57px] h-12 relative mix-blend-luminosity"></div>
        </div>
    </div>
    <div class="left-0 top-[1102px] absolute flex-col justify-start items-start gap-10 inline-flex">
        <div class="px-[100px] justify-start items-start gap-10 inline-flex">
            <div class="h-[310px] p-[50px] bg-zinc-100 rounded-[45px] shadow border border-zinc-900 justify-between items-center flex">
                <div class="flex-col justify-center items-start gap-[93px] inline-flex">
                    <div class="flex-col justify-start items-start flex">
                        <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Search engine</div>
                        </div>
                        <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">optimization</div>
                        </div>
                    </div>
                    <div class="justify-start items-center gap-[15px] inline-flex">
                        <div class="w-[41px] h-[41px] relative">
                            <div class="w-[41px] h-[41px] left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
                        </div>
                        <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                    </div>
                </div>
                <div class="w-[210px] h-[170px] pt-0.5 pb-[1.95px] justify-center items-center flex">
                    <img class="w-[210px] h-[166.05px]" src="https://via.placeholder.com/210x166" />
                </div>
            </div>
            <div class="h-[310px] p-[50px] bg-lime-300 rounded-[45px] shadow border border-zinc-900 justify-between items-center flex">
                <div class="flex-col justify-start items-start gap-[93px] inline-flex">
                    <div class="flex-col justify-start items-start flex">
                        <div class="px-[7px] bg-white rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Pay-per-click</div>
                        </div>
                        <div class="px-[7px] bg-white rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">advertising</div>
                        </div>
                    </div>
                    <div class="justify-start items-center gap-[15px] inline-flex">
                        <div class="w-[41px] h-[41px] relative">
                            <div class="w-[41px] h-[41px] left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
                        </div>
                        <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                    </div>
                </div>
                <img class="w-[210px] h-[147.62px] relative" src="https://via.placeholder.com/210x148" />
            </div>
        </div>
        <div class="px-[100px] justify-start items-start gap-10 inline-flex">
            <div class="h-[310px] p-[50px] bg-zinc-900 rounded-[45px] shadow border border-zinc-900 justify-between items-center flex">
                <div class="flex-col justify-start items-start gap-[93px] inline-flex">
                    <div class="flex-col justify-start items-start flex">
                        <div class="px-[7px] bg-white rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Social Media</div>
                        </div>
                        <div class="px-[7px] bg-white rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Marketing</div>
                        </div>
                    </div>
                    <div class="justify-start items-center gap-[15px] inline-flex">
                        <div class="w-[41px] h-[41px] relative">
                            <div class="w-[41px] h-[41px] left-0 top-0 absolute bg-white rounded-full"></div>
                        </div>
                        <div class="text-white text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                    </div>
                </div>
                <img class="w-[208.85px] h-[210px] relative" src="https://via.placeholder.com/209x210" />
            </div>
            <div class="h-[310px] p-[50px] bg-zinc-100 rounded-[45px] shadow border border-zinc-900 justify-between items-center flex">
                <div class="flex-col justify-center items-start gap-[93px] inline-flex">
                    <div class="flex-col justify-start items-start flex">
                        <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Email</div>
                        </div>
                        <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Marketing</div>
                        </div>
                    </div>
                    <div class="justify-start items-center gap-[15px] inline-flex">
                        <div class="w-[41px] h-[41px] relative">
                            <div class="w-[41px] h-[41px] left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
                        </div>
                        <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                    </div>
                </div>
                <img class="w-[210px] h-[192.68px] origin-top-left rotate-180" src="https://via.placeholder.com/210x193" />
            </div>
        </div>
        <div class="px-[100px] justify-start items-start gap-10 inline-flex">
            <div class="h-[310px] p-[50px] bg-lime-300 rounded-[45px] shadow border border-zinc-900 justify-between items-center flex">
                <div class="flex-col justify-start items-start gap-[93px] inline-flex">
                    <div class="flex-col justify-start items-start flex">
                        <div class="px-[7px] bg-white rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Content</div>
                        </div>
                        <div class="px-[7px] bg-white rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Creation</div>
                        </div>
                    </div>
                    <div class="justify-start items-center gap-[15px] inline-flex">
                        <div class="w-[41px] h-[41px] relative">
                            <div class="w-[41px] h-[41px] left-0 top-0 absolute bg-zinc-900 rounded-full"></div>
                        </div>
                        <div class="text-black text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                    </div>
                </div>
                <img class="w-[210px] h-[195.91px] relative" src="https://via.placeholder.com/210x196" />
            </div>
            <div class="h-[310px] p-[50px] bg-zinc-900 rounded-[45px] shadow border border-zinc-900 justify-between items-center flex">
                <div class="flex-col justify-start items-start gap-[93px] inline-flex">
                    <div class="flex-col justify-start items-start flex">
                        <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Analytics and </div>
                        </div>
                        <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                            <div class="text-black text-3xl font-medium font-['Space Grotesk']">Tracking</div>
                        </div>
                    </div>
                    <div class="justify-start items-center gap-[15px] inline-flex">
                        <div class="w-[41px] h-[41px] relative">
                            <div class="w-[41px] h-[41px] left-0 top-0 absolute bg-white rounded-full"></div>
                        </div>
                        <div class="text-white text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                    </div>
                </div>
                <img class="w-[210px] h-[170px] relative" src="https://via.placeholder.com/210x170" />
            </div>
        </div>
    </div>
    <div class="w-[1440px] px-[100px] left-0 top-[2212px] absolute justify-start items-center inline-flex">
        <div class="w-[1240px] h-[347px] px-[60px] bg-zinc-100 rounded-[45px] justify-start items-center gap-[275px] flex">
            <div class="flex-col justify-start items-start gap-[26px] inline-flex">
                <div class="w-[500px] text-black text-3xl font-medium font-['Space Grotesk']">Let’s make things happen</div>
                <div class="w-[500px] text-black text-lg font-normal font-['Space Grotesk']">Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.</div>
                <div class="px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-start items-start gap-2.5 inline-flex">
                    <div class="text-center text-white text-xl font-normal font-['Space Grotesk'] leading-7">Get your free proposal</div>
                </div>
            </div>
        </div>
        <div class="w-[494px] pr-[135px] justify-start items-center flex">
            <div class="origin-top-left rotate-180 w-[359px] h-[394.27px] relative">
                <div class="w-[338px] h-[71px] left-[-359px] top-[163px] absolute rounded-full border border-black"></div>
                <div class="w-[338px] h-[71px] left-[-359px] top-[188px] absolute rounded-full border border-black"></div>
                <div class="w-[338px] h-[71px] left-[-359px] top-[213px] absolute rounded-full border border-black"></div>
                <div class="w-[125px] h-[125px] left-[-269px] top-[124px] absolute bg-black rounded-full border border-black"></div>
                <div class="w-5 h-10 left-[-237px] top-[153px] absolute bg-white rounded-full"></div>
                <div class="w-5 h-10 left-[-196px] top-[153px] absolute bg-white rounded-full"></div>
            </div>
        </div>
    </div>
    <div class="px-[100px] left-[3px] top-[2877px] absolute flex-col justify-start items-start gap-2.5 inline-flex">
        <div class="px-[60px] py-[70px] bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex">
            <div class="flex-col justify-start items-start gap-5 inline-flex">
                <div class="w-[286px] text-white text-lg font-normal font-['Space Grotesk']">For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.</div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime-300 text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                </div>
            </div>
            <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div>
            <div class="flex-col justify-start items-start gap-5 inline-flex">
                <div class="w-[286px] text-white text-lg font-normal font-['Space Grotesk']">For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.</div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime-300 text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                </div>
            </div>
            <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div>
            <div class="flex-col justify-start items-start gap-5 inline-flex">
                <div class="w-[286px] text-white text-lg font-normal font-['Space Grotesk']">For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.</div>
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime-300 text-xl font-normal font-['Space Grotesk'] leading-7">Learn more</div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-[100px] left-[3px] top-[3474px] absolute flex-col justify-start items-start gap-[30px] inline-flex">
        <div class="h-[279px] px-[60px] py-[41px] bg-lime-300 rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-[30px] flex">
            <div class="w-[1117px] justify-between items-center inline-flex">
                <div class="justify-start items-center gap-[25px] flex">
                    <div class="text-black text-6xl font-medium font-['Space Grotesk']">01</div>
                    <div class="w-[612px] text-black text-3xl font-medium font-['Space Grotesk']">Consultation</div>
                </div>
                <div class="w-[58px] h-[58px] relative">
                    <div class="w-[58px] h-[58px] left-0 top-0 absolute bg-zinc-100 rounded-full border border-zinc-900"></div>
                </div>
            </div>
            <div class="w-[1114px] h-[0px] border border-black"></div>
            <div class="w-[1114px] h-[60px] text-black text-lg font-normal font-['Space Grotesk']">During the initial consultation, we will discuss your business goals and objectives, target audience, and current marketing efforts. This will allow us to understand your needs and tailor our services to best fit your requirements.</div>
        </div>
        <div class="h-[159px] px-[60px] py-[41px] bg-zinc-100 rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 flex">
            <div class="w-[1117px] justify-between items-center inline-flex">
                <div class="justify-start items-center gap-[25px] flex">
                    <div class="text-black text-6xl font-medium font-['Space Grotesk']">02</div>
                    <div class="w-[612px] text-black text-3xl font-medium font-['Space Grotesk']">Research and Strategy Development</div>
                </div>
                <div class="w-[58px] h-[58px] relative">
                    <div class="w-[58px] h-[58px] left-0 top-0 absolute bg-zinc-100 rounded-full border border-zinc-900"></div>
                </div>
            </div>
        </div>
        <div class="h-[159px] px-[60px] py-[41px] bg-zinc-100 rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 flex">
            <div class="w-[1117px] justify-between items-center inline-flex">
                <div class="justify-start items-center gap-[25px] flex">
                    <div class="text-black text-6xl font-medium font-['Space Grotesk']">03</div>
                    <div class="w-[612px] text-black text-3xl font-medium font-['Space Grotesk']">Implementation</div>
                </div>
                <div class="w-[58px] h-[58px] relative">
                    <div class="w-[58px] h-[58px] left-0 top-0 absolute bg-zinc-100 rounded-full border border-zinc-900"></div>
                </div>
            </div>
        </div>
        <div class="h-[159px] px-[60px] py-[41px] bg-zinc-100 rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 flex">
            <div class="w-[1117px] justify-between items-center inline-flex">
                <div class="justify-start items-center gap-[25px] flex">
                    <div class="text-black text-6xl font-medium font-['Space Grotesk']">04</div>
                    <div class="w-[612px] text-black text-3xl font-medium font-['Space Grotesk']">Monitoring and Optimization</div>
                </div>
                <div class="w-[58px] h-[58px] relative">
                    <div class="w-[58px] h-[58px] left-0 top-0 absolute bg-zinc-100 rounded-full border border-zinc-900"></div>
                </div>
            </div>
        </div>
        <div class="h-[159px] px-[60px] py-[41px] bg-zinc-100 rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 flex">
            <div class="w-[1117px] justify-between items-center inline-flex">
                <div class="justify-start items-center gap-[25px] flex">
                    <div class="text-black text-6xl font-medium font-['Space Grotesk']">05</div>
                    <div class="w-[612px] text-black text-3xl font-medium font-['Space Grotesk']">Reporting and Communication</div>
                </div>
                <div class="w-[58px] h-[58px] relative">
                    <div class="w-[58px] h-[58px] left-0 top-0 absolute bg-zinc-100 rounded-full border border-zinc-900"></div>
                </div>
            </div>
        </div>
        <div class="h-[159px] px-[60px] py-[41px] bg-zinc-100 rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 flex">
            <div class="w-[1117px] justify-between items-center inline-flex">
                <div class="justify-start items-center gap-[25px] flex">
                    <div class="text-black text-6xl font-medium font-['Space Grotesk']">06</div>
                    <div class="w-[612px] text-zinc-900 text-3xl font-medium font-['Space Grotesk']">Continual Improvement</div>
                </div>
                <div class="w-[58px] h-[58px] relative">
                    <div class="w-[58px] h-[58px] left-0 top-0 absolute bg-zinc-100 rounded-full border border-zinc-900"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="pl-px left-[-1px] top-[4969px] absolute justify-center items-center inline-flex">
        <div class="self-stretch flex-col justify-start items-start gap-10 inline-flex">
            <div class="px-[100px] justify-start items-start gap-10 inline-flex">
                <div class="w-[387px] h-[331px] px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex">
                    <div class="flex-col justify-start items-start gap-7 flex">
                        <div class="self-stretch justify-start items-start inline-flex">
                            <div class="grow shrink basis-0 h-[102.82px] pr-[76px] justify-start items-end gap-5 flex">
                                <div class="w-[105.65px] h-[102.82px] relative">
                                    <div class="w-[97.82px] h-[97.82px] left-0 top-0 absolute">
                                        <div class="w-[107px] h-[161px] left-[-5px] top-[-14px] absolute bg-lime-300"></div>
                                    </div>
                                </div>
                                <div class="pl-[125.65px] pt-[26px] flex-col justify-end items-start gap-[4.82px] inline-flex">
                                    <div class="text-black text-lg font-normal font-['Space Grotesk']">CEO and Founder</div>
                                    <div class="text-black text-xl font-medium font-['Space Grotesk']">John Smith</div>
                                </div>
                            </div>
                            <div class="w-[34px] h-[34px] relative">
                                <div class="w-[34px] h-[34px] left-0 top-0 absolute bg-black rounded-full"></div>
                            </div>
                        </div>
                        <div class="w-[317px] h-[0px] border border-black"></div>
                        <div class="w-[317px] text-black text-lg font-normal font-['Space Grotesk']">10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy</div>
                    </div>
                </div>
                <div class="w-[387px] px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex">
                    <div class="flex-col justify-start items-start gap-7 flex">
                        <div class="self-stretch justify-start items-start inline-flex">
                            <div class="grow shrink basis-0 h-[102.82px] pr-[76px] justify-start items-end gap-5 flex">
                                <div class="w-[102.82px] h-[102.82px] relative">
                                    <div class="w-[97.82px] h-[97.82px] left-0 top-0 absolute">
                                        <div class="w-[188px] h-[125px] left-[-51px] top-[-6px] absolute bg-lime-300"></div>
                                    </div>
                                </div>
                                <div class="pl-[122.82px] pt-[26.18px] flex-col justify-end items-start gap-[4.47px] inline-flex">
                                    <div class="w-[194px] text-black text-lg font-normal font-['Space Grotesk']">Director of Operations</div>
                                    <div class="text-black text-xl font-medium font-['Space Grotesk']">Jane Doe</div>
                                </div>
                            </div>
                            <div class="w-[34px] h-[34px] relative">
                                <div class="w-[34px] h-[34px] left-0 top-0 absolute bg-black rounded-full"></div>
                            </div>
                        </div>
                        <div class="w-[317px] h-[0px] border border-black"></div>
                        <div class="w-[317px] text-black text-lg font-normal font-['Space Grotesk']">7+ years of experience in project management and team leadership. Strong organizational and communication skills</div>
                    </div>
                </div>
                <div class="w-[387px] px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex">
                    <div class="flex-col justify-start items-start gap-7 flex">
                        <div class="self-stretch justify-start items-start inline-flex">
                            <div class="grow shrink basis-0 h-[102.82px] pr-[76px] justify-start items-end gap-5 flex">
                                <div class="w-[102.82px] h-[102.82px] relative">
                                    <div class="w-[97.82px] h-[97.82px] left-0 top-0 absolute">
                                        <div class="w-52 h-[139px] left-[-84px] top-0 absolute bg-lime-300"></div>
                                    </div>
                                </div>
                                <div class="pl-[122.82px] pt-[26px] flex-col justify-end items-start gap-[4.82px] inline-flex">
                                    <div class="text-black text-lg font-normal font-['Space Grotesk']">Senior SEO Specialist</div>
                                    <div class="text-black text-xl font-medium font-['Space Grotesk']">Michael Brown</div>
                                </div>
                            </div>
                            <div class="w-[34px] h-[34px] relative">
                                <div class="w-[34px] h-[34px] left-0 top-0 absolute bg-black rounded-full"></div>
                            </div>
                        </div>
                        <div class="w-[317px] h-[0px] border border-black"></div>
                        <div class="w-[317px] text-black text-lg font-normal font-['Space Grotesk']">5+ years of experience in SEO and content creation. Proficient in keyword research and on-page optimization</div>
                    </div>
                </div>
            </div>
            <div class="px-[100px] justify-start items-start gap-10 inline-flex">
                <div class="w-[387px] h-[354px] px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex">
                    <div class="flex-col justify-start items-start gap-7 flex">
                        <div class="self-stretch justify-start items-start inline-flex">
                            <div class="grow shrink basis-0 h-[102.82px] pr-[76px] justify-start items-end gap-5 flex">
                                <div class="w-[102.82px] h-[102.82px] relative">
                                    <div class="w-[97.82px] h-[97.82px] left-0 top-0 absolute">
                                        <div class="w-[284px] h-[426px] left-[-88px] top-[-158px] absolute bg-lime-300"></div>
                                    </div>
                                </div>
                                <div class="pl-[122.82px] pt-[26px] flex-col justify-end items-start gap-[4.82px] inline-flex">
                                    <div class="text-black text-lg font-normal font-['Space Grotesk']">PPC Manager</div>
                                    <div class="text-black text-xl font-medium font-['Space Grotesk']">Emily Johnson</div>
                                </div>
                            </div>
                            <div class="w-[34px] h-[34px] relative">
                                <div class="w-[34px] h-[34px] left-0 top-0 absolute bg-black rounded-full"></div>
                            </div>
                        </div>
                        <div class="w-[317px] h-[0px] border border-black"></div>
                        <div class="w-[317px] text-black text-lg font-normal font-['Space Grotesk']">3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis</div>
                    </div>
                </div>
                <div class="w-[387px] h-[354px] px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex">
                    <div class="flex-col justify-start items-start gap-7 flex">
                        <div class="self-stretch justify-start items-start inline-flex">
                            <div class="grow shrink basis-0 h-[102.82px] pr-[76px] justify-start items-end gap-5 flex">
                                <div class="w-[102.82px] h-[102.82px] relative">
                                    <div class="w-[97.82px] h-[97.82px] left-0 top-0 absolute">
                                        <div class="w-[165px] h-[247px] left-[-36px] top-[-45px] absolute bg-lime-300"></div>
                                    </div>
                                </div>
                                <div class="w-[194.18px] h-[72.18px] relative">
                                    <div class="left-[122.82px] top-[30.65px] absolute text-black text-xl font-medium font-['Space Grotesk']">Brian Williams</div>
                                    <div class="w-[194px] left-[122.82px] top-[26.18px] absolute text-black text-lg font-normal font-['Space Grotesk']">Social Media Specialist</div>
                                </div>
                            </div>
                            <div class="w-[34px] h-[34px] relative">
                                <div class="w-[34px] h-[34px] left-0 top-0 absolute bg-black rounded-full"></div>
                            </div>
                        </div>
                        <div class="w-[317px] h-[0px] border border-black"></div>
                        <div class="w-[317px] text-black text-lg font-normal font-['Space Grotesk']">4+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement</div>
                    </div>
                </div>
                <div class="w-[387px] h-[354px] px-[35px] py-10 bg-white rounded-[45px] shadow border border-zinc-900 flex-col justify-start items-start gap-2.5 inline-flex">
                    <div class="flex-col justify-start items-start gap-7 flex">
                        <div class="self-stretch justify-start items-start inline-flex">
                            <div class="grow shrink basis-0 h-[102.82px] pr-[76px] justify-start items-end gap-5 flex">
                                <div class="w-[102.82px] h-[102.82px] relative">
                                    <div class="w-[97.82px] h-[97.82px] left-0 top-0 absolute">
                                        <div class="w-[105px] h-[105px] left-[-1px] top-0 absolute bg-lime-300"></div>
                                    </div>
                                </div>
                                <div class="pl-[122.82px] pt-[26.18px] flex-col justify-end items-start gap-[4.47px] inline-flex">
                                    <div class="w-[194px] text-black text-lg font-normal font-['Space Grotesk']">Content Creator</div>
                                    <div class="text-black text-xl font-medium font-['Space Grotesk']">Sarah Kim</div>
                                </div>
                            </div>
                            <div class="w-[34px] h-[34px] relative">
                                <div class="w-[34px] h-[34px] left-0 top-0 absolute bg-black rounded-full"></div>
                            </div>
                        </div>
                        <div class="w-[317px] h-[0px] border border-black"></div>
                        <div class="w-[317px] text-black text-lg font-normal font-['Space Grotesk']">2+ years of experience in writing and editing<br/>Skilled in creating compelling, SEO-optimized content for various industries</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-[1240px] pl-[971px] left-[100px] top-[5734px] absolute justify-end items-center inline-flex">
        <div class="h-[68px] px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-center items-center gap-2.5 inline-flex">
            <div class="text-center text-white text-xl font-normal font-['Space Grotesk'] leading-7">See all team</div>
        </div>
    </div>
    <div class="pt-[84px] pb-[68px] left-[100px] top-[6033px] absolute bg-zinc-900 rounded-[45px] justify-start items-center inline-flex">
        <div class="self-stretch flex-col justify-start items-center gap-[124px] inline-flex">
            <div class="w-[1918px] justify-between items-start inline-flex">
                <div class="flex-col justify-start items-end gap-5 inline-flex">
                    <div class="w-[606px] h-[266px] relative">
                        <img class="w-[606px] h-[266px] left-0 top-0 absolute border border-lime-300" src="https://via.placeholder.com/606x266" />
                        <div class="w-[502px] left-[52px] top-[48px] absolute text-white text-lg font-normal font-['Space Grotesk']">"We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."</div>
                    </div>
                    <div class="w-[526px]"><span style="text-lime-300 text-xl font-medium font-['Space Grotesk']">John Smith<br/></span><span style="text-white text-lg font-normal font-['Space Grotesk']">Marketing Director at XYZ Corp</span></div>
                </div>
                <div class="flex-col justify-start items-end gap-5 inline-flex">
                    <div class="w-[606px] h-[266px] relative">
                        <img class="w-[606px] h-[266px] left-0 top-0 absolute border border-lime-300" src="https://via.placeholder.com/606x266" />
                        <div class="w-[502px] left-[52px] top-[48px] absolute text-white text-lg font-normal font-['Space Grotesk']">"We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."</div>
                    </div>
                    <div class="w-[526px]"><span style="text-lime-300 text-xl font-medium font-['Space Grotesk']">John Smith<br/></span><span style="text-white text-lg font-normal font-['Space Grotesk']">Marketing Director at XYZ Corp</span></div>
                </div>
                <div class="flex-col justify-start items-end gap-5 inline-flex">
                    <div class="w-[606px] h-[266px] relative">
                        <img class="w-[606px] h-[266px] left-0 top-0 absolute border border-lime-300" src="https://via.placeholder.com/606x266" />
                        <div class="w-[502px] left-[52px] top-[48px] absolute text-white text-lg font-normal font-['Space Grotesk']">"We have been working with Positivus for the past year and have seen a significant increase in website traffic and leads as a result of their efforts. The team is professional, responsive, and truly cares about the success of our business. We highly recommend Positivus to any company looking to grow their online presence."</div>
                    </div>
                    <div class="w-[526px]"><span style="text-lime-300 text-xl font-medium font-['Space Grotesk']">John Smith<br/></span><span style="text-white text-lg font-normal font-['Space Grotesk']">Marketing Director at XYZ Corp</span></div>
                </div>
            </div>
            <div class="w-[564px] justify-between items-center inline-flex">
                <div class="w-5 h-[0px] relative">
                </div>
                <div class="w-[146px] h-3.5 relative">
                    <div class="w-[146px] h-3.5 left-0 top-0 absolute">
                    </div>
                </div>
                <div class="origin-top-left -rotate-180 w-5 h-[0px] relative">
                </div>
            </div>
        </div>
    </div>
    <div class="w-[1440px] px-[100px] left-0 top-[6929px] absolute justify-start items-center inline-flex">
        <div class="h-[773px] px-[100px] pt-[60px] pb-20 bg-zinc-100 rounded-[45px] justify-start items-start gap-2.5 flex">
            <div class="flex-col justify-start items-start gap-10 inline-flex">
                <div class="justify-start items-start gap-[35px] inline-flex">
                    <div class="justify-center items-center gap-3.5 flex">
                        <div class="w-7 h-7 relative bg-white rounded-[29px] border border-black flex-col justify-start items-start flex">
                            <div class="w-4 h-4 bg-lime-300 rounded-full"></div>
                        </div>
                        <div class="text-black text-lg font-normal font-['Space Grotesk']">Say Hi</div>
                    </div>
                    <div class="justify-end items-center gap-[103px] flex">
                        <div class="w-7 h-7 bg-white rounded-[29px] border border-black"></div>
                        <div class="text-black text-lg font-normal font-['Space Grotesk']">Get a Quote</div>
                    </div>
                </div>
                <div class="flex-col justify-start items-start gap-[25px] flex">
                    <div class="flex-col justify-start items-start gap-[5px] flex">
                        <div class="text-black text-base font-normal font-['Space Grotesk'] leading-7">Name</div>
                        <div class="w-[556px] px-[30px] py-[18px] bg-white rounded-[14px] border border-black justify-start items-start gap-2.5 inline-flex">
                            <div class="text-zinc-500 text-lg font-normal font-['Space Grotesk']">Name</div>
                        </div>
                    </div>
                    <div class="flex-col justify-start items-start gap-[5px] flex">
                        <div class="text-black text-base font-normal font-['Space Grotesk'] leading-7">Email*</div>
                        <div class="w-[556px] px-[30px] py-[18px] bg-white rounded-[14px] border border-black justify-start items-start gap-2.5 inline-flex">
                            <div class="text-zinc-500 text-lg font-normal font-['Space Grotesk']">Email</div>
                        </div>
                    </div>
                    <div class="w-[556px] flex-col justify-start items-start gap-[5px] flex">
                        <div class="text-black text-base font-normal font-['Space Grotesk'] leading-7">Message*</div>
                        <div class="w-[556px] h-[190px] px-[30px] py-[18px] bg-white rounded-[14px] border border-black justify-start items-start gap-2.5 inline-flex">
                            <div class="text-zinc-500 text-lg font-normal font-['Space Grotesk']">Message</div>
                        </div>
                    </div>
                </div>
                <div class="w-[556px] px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-center items-center gap-2.5 inline-flex">
                    <div class="text-center text-white text-xl font-normal font-['Space Grotesk'] leading-7">Send Message</div>
                </div>
            </div>
        </div>
        <div class="w-[691.57px] h-[648px] relative">
            <div class="w-[649.86px] h-[648px] left-[41.71px] top-0 absolute">
                <div class="w-[1152.83px] h-[702.85px] left-[-827.43px] top-[-38.12px] absolute bg-black rounded-[45px]"></div>
            </div>
        </div>
    </div>
    <div class="pl-px left-[-1px] top-[7842px] absolute justify-center items-center inline-flex">
        <div class="self-stretch px-[100px] flex-col justify-start items-start gap-2.5 inline-flex">
            <div class="px-[60px] pt-[55px] pb-[50px] bg-zinc-900 rounded-tl-[45px] rounded-tr-[45px] flex-col justify-start items-start gap-[50px] flex">
                <div class="flex-col justify-start items-start gap-[66px] flex">
                    <div class="w-[1121px] justify-start items-center gap-[155px] inline-flex">
                        <div class="w-[180px] h-[29px] justify-center items-center gap-[10.59px] flex">
                            <div class="w-[29.52px] h-[29px] relative flex-col justify-start items-start flex"></div>
                        </div>
                        <div class="justify-start items-start gap-10 flex">
                            <div class="text-white text-lg font-normal font-['Space Grotesk'] underline">About us</div>
                            <div class="text-white text-lg font-normal font-['Space Grotesk'] underline">Services</div>
                            <div class="text-white text-lg font-normal font-['Space Grotesk'] underline">Use Cases</div>
                            <div class="text-white text-lg font-normal font-['Space Grotesk'] underline">Pricing</div>
                            <div class="text-white text-lg font-normal font-['Space Grotesk'] underline">Blog</div>
                        </div>
                        <div class="justify-start items-start gap-5 flex">
                            <div class="w-[30px] h-[30px] relative">
                                <div class="w-[30px] h-[30px] left-0 top-0 absolute bg-white rounded-full"></div>
                            </div>
                            <div class="w-[30px] h-[30px] relative">
                                <div class="w-[30px] h-[30px] left-0 top-0 absolute bg-white rounded-full"></div>
                            </div>
                        </div>
                    </div>
                    <div class="justify-start items-start gap-[154px] inline-flex">
                        <div class="flex-col justify-start items-start gap-[27px] inline-flex">
                            <div class="flex-col justify-start items-start flex">
                                <div class="px-[7px] bg-lime-300 rounded-[7px] flex-col justify-start items-start gap-2.5 flex">
                                    <div class="text-black text-xl font-medium font-['Space Grotesk']">Contact us:</div>
                                </div>
                            </div>
                            <div class="flex-col justify-start items-start gap-5 flex">
                                <div class="text-white text-lg font-normal font-['Space Grotesk']">Email: info@positivus.com</div>
                                <div class="text-white text-lg font-normal font-['Space Grotesk']">Phone: 555-567-8901</div>
                                <div class="text-white text-lg font-normal font-['Space Grotesk']">Address: 1234 Main St<br/>Moonstone City, Stardust State 12345</div>
                            </div>
                        </div>
                        <div class="px-10 py-[58px] bg-zinc-800 rounded-[14px] justify-start items-start gap-5 flex">
                            <div class="h-[67px] px-[35px] py-[22px] rounded-[14px] border border-white justify-start items-start gap-2.5 flex">
                                <div class="text-white text-lg font-normal font-['Space Grotesk']">Email</div>
                            </div>
                            <div class="px-[35px] py-5 bg-lime-300 rounded-[14px] justify-start items-start gap-2.5 flex">
                                <div class="text-center text-black text-xl font-normal font-['Space Grotesk'] leading-7">Subscribe to news</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-col justify-start items-start gap-[50px] flex">
                    <div class="w-[1120px] h-[0px] border border-white"></div>
                    <div class="justify-start items-start gap-10 inline-flex">
                        <div class="text-white text-lg font-normal font-['Space Grotesk'] leading-7">© 2023 Positivus. All Rights Reserved.</div>
                        <div class="text-white text-lg font-normal font-['Space Grotesk'] underline leading-7">Privacy Policy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>