---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from "../components/About.astro"
import Services from "../components/Services.astro"
import Navbar from '../components/Navbar.astro';
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to My site">
	<main class="space-y-20">
		<Navbar/>
		<Hero/>
		<Services/>
		<Team/>
		<Testimonial/>
		<Contact/>
		<Footer/>
		<About/>
	</main>
</Layout>