---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:w-4/12 md:py-10">
        <div class="text-center md:text-left space-y-3 bg-lime">
            <h2 class="text-4xl font-medium leading-none sm:text-6xl">Contact Us</h2>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-8/12 md:py-10">
        <p class="text-xl font-normal leading-7 text-center md:text-left">Connect with Us: Let's Discuss Your Digital Marketing Needs</p>
    </div>
</div>

<div class="relative flex flex-col items-center md:flex-row my-6 bg-zinc-100 rounded-[45px]">
    <div class="row items-center py-12 px-4 md:px-20 md:w-8/12 md:py-10">
        <form action="#" class="space-y-8 md:w-full">
            <div class="flex">
                <div class="flex items-center me-4">
                    <input id="inline-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-lime bg-black border-black focus:ring-lime">
                    <label for="inline-radio" class="ms-2 text-base font-medium text-black">Say Hi</label>
                </div>
                <div class="flex items-center me-4 mx-8 md:mx-20">
                    <input id="inline-2-radio" type="radio" value="" name="inline-radio-group" class="w-4 h-4 text-lime bg-black border-black focus:ring-lime">
                    <label for="inline-2-radio" class="ms-2 text-base font-medium text-black">Get a Quote</label>
                </div>
            </div>
            <div>
                <label for="email" class="block mb-2 text-base font-medium text-black">Name</label>
                <input type="email" id="email" class="shadow-sm bg-white border text-black text-base rounded-lg focus:ring-black focus:border-black block w-full p-2.5" placeholder="Name" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-base font-medium text-black">Email</label>
                <input type="text" id="subject" class="block p-3 w-full text-base text-black bg-white rounded-lg border shadow-sm focus:ring-black focus:border-black" placeholder="Email" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-base font-medium text-black dark:text-gray-400">Message</label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-base text-black bg-white rounded-lg shadow-sm border focus:ring-black focus:border-black" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="w-full py-5 bg-zinc-900 rounded-[14px] justify-center gap-2.5 inline-flex">
                <div class="text-center text-white text-xl font-normal leading-7">Send Message</div>
            </button>
        </form>
    </div>
    <div class="hidden md:grid md:justify-items-end md:w-4/12 md:py-2">
        <img src="./clients/contact.svg" alt="c" width="80%">
    </div>
</div>

</Container>