---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
import SwiperSlider from "./SwiperSlider.astro";
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Testimonials" description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services" />
</div>

<div class="rounded-[45px] bg-black mb-[150px] text-white">
    <SwiperSlider />
</div>

</Container>