---
const { title, description} = Astro.props;
---

<div class="grid place-items-center gap-5 mb-10 md:flex">
    <h2 class="text-4xl sm:text-5xl px-1.5 font-medium bg-lime rounded-md">
        {title}
    </h2>
    <p class="text-xl font-normal text-center md:text-start lg:w-2/3">
        {description}
    </p>
</div>