---
const { sectionTitle, description } = Astro.props;
---

<div class="flex flex-col items-center gap-10 mb-20 sm:flex-row">
  <h2 class="greenhead text-center sm:text-left text-3xl sm:text-4xl">{sectionTitle}</h2>
  <p class="w-auto text-center sm:text-left sm:w-[580px]">
    {description}
  </p>
</div>
