<form
  class="bg-[#292A32] px-10 py-14 rounded-[14px] gap-5 h-full flex flex-col sm:flex-row items-center justify-center"
>
  <div class="w-full sm:w-[55%]">
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Email"
      class="bg-transparent w-full px-[35px] py-5 border rounded-[14px] focus:outline-none"
    />
  </div>
  <button type="submit" name="submit" class="w-full sm:w-[45%] btn-tertiary"
    >Subscribe to news</button
  >
</form>
